<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>53480298476-qi1h7tef7urm63buckrk49jnkp5aunut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53480298476-qi1h7tef7urm63buckrk49jnkp5aunut</string>
	<key>API_KEY</key>
	<string>AIzaSyCVWa8lv_Cgp_-lSZXgDd7llLel1LQwick</string>
	<key>GCM_SENDER_ID</key>
	<string>53480298476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codewithchris.FirebaseAuthTest</string>
	<key>PROJECT_ID</key>
	<string>newauthdemo-1906d</string>
	<key>STORAGE_BUCKET</key>
	<string>newauthdemo-1906d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53480298476:ios:24c5cf288c3402fe</string>
	<key>DATABASE_URL</key>
	<string>https://newauthdemo-1906d.firebaseio.com</string>
</dict>
</plist>